.wrapper {
  height: 100%;
  padding: 70px 0px 30px 50px;

  @media only screen and (max-width: 1280px) {
    padding-left: 0px;
    padding-top: 120px;
  }
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
}

.active {
  min-width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 5;
  background-color: #030303f1;
  transition: all 0.1s ease;
}
