
.block {
  height: 3000px;
  max-width: 780px;
  background-color: #e6e6e6;
  border-radius: 15px;
  margin: 0 auto;
  padding-top: 40px;

}
.container {
  max-width: 650px;
  margin: 0 auto;
}

.block_photo {
  height: 380px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 100%;

  &__item {
    position: relative;
    height: auto;
    top: 50%;
    transform: translateY(-40%);
    border-radius: 10px;
  }
}

.title {
  font-size: 29px;
  margin-top: 18px;
}

.text {
  margin-top: 8px;
  font-size: 19px;
  max-width: 100%;
}
