.wrapper {
  padding-top: 300px;
  height: 100vh;
}

.error {
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  color: red;
}

.form {
  height: 255px;
  width: 400px;
  background-color: #fcfcfc;
  opacity: 0.5;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;

  &__text {
    font-weight: 550;
    font-size: 32px;
    text-align: center;
    padding-top: 22px;
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: 48px auto;
    height: 35px;
  }

  &__input {
    width: 218px;
    height: 50px;
    border: 4px solid black;
    border-radius: 15px;
    padding-left: 15px;
    font-weight: 600;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    cursor: pointer;
  }
}
