@import "../../assets/scss/_colors";
@import "../../assets/scss/_mixins";
@import "../../assets/scss/_media";

.block {
  @include position-absolute(45%, _, _, 50%);
  transform: translate(-50%, -50%);
  width: 350px;
  height: 260px;
  padding: 15px;
  background: $block-bg;
  border-radius: 10px;

  @media (max-width: $mobile-width--sm) {
    width: 300px;
    height: 240px;
  }
}

.container {
  width: 210px;
  height: 84%;
  margin: 0 auto;
}

.text {
  font-size: 28px;
  line-height: 35px;
  color: $text;
  width: 100%;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 28px;
  }
}

.input {
  @include responsive();
  margin-top: 60px;

  @media (max-width: $mobile-width--sm) {
    margin-top: 45px;
  }
}

.input_error {
  @include responsive($error, $error);
  box-shadow: 0px 0px 20px $error;
}

.button {
  @include responsive();
  margin-top: 35px;

  @media (max-width: $mobile-width--sm) {
    margin-top: 30px;
  }
}

.icon {
  width: 20px;
}
